.stops {

}

.stop-date {
  margin-right: 8px;
}

.stop-location {

}

.stop-date,
.stop-location {
  display: inline-block;
}

.container {
  position: relative;
}

.alert {
  margin-bottom: 0;
  margin-left: 100px;
  margin-top: 6px;
  padding: 4px 10px;
}

ul.stops,
ul.venue-properties {
  li {
    &:hover {
      .icon-trash {
        visibility: visible;
      }
    }
  }
}

ul {
  margin-left: 0px;
  list-style: none;
  li {
    .icon-trash {
      visibility: hidden;
    }
    input {
      width: 170px;
      &:first-child {
        margin-right: 10px;
      }
    }
    button {
      margin-left: 10px;
    }
    ul {
      margin-left: 20px;
    }
  }
}

.venue-properties {
  margin-left: 10px;
  margin-top: 10px;
}

.venue-name {
  margin-left: 10px;
}

.properties {
  margin-bottom: 6px;
  input {
    display: inline-block;
    margin-right: 6px;
    &.property-key {
      width: 100px;
    }
    &.property-value {
      width: 300px;
    }
  }
  i {
    margin-right: 6px;
  }
}

.venues ul li {
  > div:hover {
    .icon-trash {
      visibility: visible;
    }
  }
}

.stop-date {
  width: 80px;
  margin-right: 20px;
}

.stop-location {
  width: 300px;
}

section.venues {
  .page-header {
    span {
      display: inline-block;
    }
    button {
      display: inline-block;
      margin-left: 20px;
    }
  }
}

section footer {
  position: relative;
  width: 100%;
  min-height: 60px;

  button {
    position: absolute;
    bottom: 20px;
    right: 4px;
  }
}
