.stops {
  input.stop-date,
  input.stop-location {
    margin-top: 12px;
  }
  th {
    text-align: left;
  }
  th, td {
    padding-left: 8px;
  }
}

.stop-date {
  margin-right: 8px;
}

.stop-location {

}

.stop-date,
.stop-location {
  display: inline-block;
}

.container {
  position: relative;
}

.alert {
  margin-bottom: 0;
  margin-left: 100px;
  margin-top: 6px;
  padding: 4px 10px;
}

ul {
  li {
    &.editing {
      margin: 4px 0;
      background-color: transparent;
    }
    .control-group {
      visibility: hidden;
      display: inline-block;
      margin-bottom: 0;
    }
  }
}

.stops {
  .selected {
    .control-group {
      visibility: visible;
    }
    background-color: #f2f2f2;
  }
  .stop-checked {
    width: 20px;
  }
}

.page-header {
  h1 {
    button {
      margin-left: 20px;
    }
  }
}

ul {
  margin-left: 0px;
  list-style: none;
  li {
    input {
      width: 170px;
      &:first-child {
        margin-right: 10px;
      }
    }
    button {
      margin-left: 10px;
    }
    ul {
      margin-left: 20px;
    }
  }
}

.venue-properties {
  margin-left: 10px;
  margin-top: 10px;
}

.venue-name {
  margin-left: 10px;
}

.properties {
  margin-bottom: 6px;
  input {
    display: inline-block;
    margin-right: 6px;
    &.property-key {
      width: 100px;
    }
    &.property-value {
      width: 300px;
    }
  }
  i {
    margin-right: 6px;
  }
}

.venues ul li {
}

.stop-date {
  width: 140px;
  margin-right: 20px;
}

.stop-location {
  width: 200px;
}

section.venues {
  .page-header {
    span {
      display: inline-block;
    }
    button {
      display: inline-block;
      margin-left: 20px;
    }
  }
}

.drive-time {
  .icon-refresh {
    visibility: hidden;
    display: inline-block;
    margin-left: 4px;
  }
  &:hover {
    .icon-refresh {
      visibility: visible;
      cursor: pointer;
    }
  }
}

section footer {
  position: relative;
  width: 100%;
  min-height: 60px;

  button {
    position: absolute;
    bottom: 20px;
    right: 4px;
  }
}

.booking {
  padding: 10px 0;
}

.booking-time,
.booking-status {
  width: 100px;
  margin-left: 10px;
}
